<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="system/Test/bootstrap.php"
		backupGlobals="false"
		colors="true"
		convertErrorsToExceptions="true"
		convertNoticesToExceptions="true"
		convertWarningsToExceptions="true"
		stopOnError="false"
		stopOnFailure="false"
		stopOnIncomplete="false"
		stopOnSkipped="false">
	<testsuites>
		<testsuite name="Test TCC">
			<directory>./tests/app</directory>
		</testsuite>
	</testsuites>
	<logging>
		<log type="coverage-html" target="tests/app/build/logs/html"/>
		<log type="coverage-clover" target="tests/app/build/logs/clover.xml"/>
		<log type="coverage-php" target="tests/app/build/logs/coverage.serialized"/>
		<log type="coverage-text" target="php://stdout" showUncoveredFiles="false"/>
		<log type="testdox-html" target="tests/app/build/logs/testdox.html"/>
		<log type="testdox-text" target="tests/app/build/logs/testdox.txt"/>
		<log type="junit" target="tests/app/build/logs/logfile.xml"/>
	</logging>

	<php>
		<server name="app.baseURL" value="http://tcc.localhost"/>

		<!-- Directory containing phpunit.xml -->
		<const name="HOMEPATH" value="./"/>

		<!-- Directory containing the Paths config file -->
		<const name="CONFIGPATH" value="./app/Config/"/>

		<!-- Directory containing the front controller (index.php) -->
		<const name="PUBLICPATH" value="public/"/>

		<!-- Database configuration -->
<!--	<env name="database.tests.hostname" value="localhost"/>  -->
		<env name="database.tests.database" value="tests/app/tests.db"/>
<!--	<env name="database.tests.username" value="tests_user"/> -->
<!--	<env name="database.tests.password" value=""/>		     -->
<!--	<env name="database.tests.DBDriver" value="MySQLi"/>	 -->
		<env name="database.tests.DBPrefix" value=""/>	 
		<env name="database.tests.database" value=":memory:"/>
		<env name="database.tests.DBDriver" value="SQLite3"/>
	</php>


</phpunit>